tensorflow==2.15.0
opencv-python-headless
numpy
pandas
matplotlib
Pillow
streamlit
fastapi
uvicorn
sqlalchemy
reportlab
scikit-image
scikit-learn
plotly
albumentations
tqdm
scipy
python-multipart
python-dotenv